html, body {
    margin: 0;
    padding: 1;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    background: #ff9999;
    padding: 20px;
    border-radius: 0; /* Remove rounded edges if not needed */

}

.social-activities
{
    width: 25%;
    padding: 0.5px;
    height: 20px;
    position: relative;
    top: 1px; /* Move para baixo */
    left: 1px; /* Move para a direita */
    transform: translate(50px, 100px);



}

.world-ranking 
{
    width: 25%;
    padding: 0.5px;
    height: 20px;
    position: relative;
    top: 1px; /* Move para baixo */
    left: 1px; /* Move para a direita */
}


.main-content {
    width: 50%;
    text-align: center;
}

h2, h3 {
    color: #fff;
}

button {
    background: #ff6666;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.timer {
    font-size: 20px;
    font-weight: bold;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #ff7777;
}

table, th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
.main-textarea {
    width: 80%;
    height: 150px; /* Ajusta a altura conforme necessário */
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none; /* Impede o redimensionamento manual */
}